# Importing libraries

In [537]:
import pandas as pd
import numpy as np

In [538]:
data = pd.read_csv('labeled_data.csv.zip')

In [539]:
data

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

## Step 1: Inspection

In [540]:
data.duplicated().sum()

0

In [541]:
data.isnull().sum()

Unnamed: 0            0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

In [542]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [543]:
data.describe()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

In [544]:
data["label"] = data['class'].map({0:"Hate speech",
                                   1:"Offensive",
                                   2:"No hate or offensive"})

In [545]:
data.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet,label
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,No hate or offensive
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,Offensive
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,Offensive
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,Offensive
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,Offensive

In [546]:
df = data[["tweet","label"]]

In [547]:
df

                                                   tweet                 label
0      !!! RT @mayasolovely: As a woman you shouldn't...  No hate or offensive
1      !!!!! RT @mleew17: boy dats cold...tyga dwn ba...             Offensive
2      !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...             Offensive
3      !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...             Offensive
4      !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...             Offensive
...                                                  ...                   ...
24778  you's a muthaf***in lie &#8220;@LifeAsKing: @2...             Offensive
24779  you've gone and broke the wrong heart baby, an...  No hate or offensive
24780  young buck wanna eat!!.. dat nigguh like I ain...             Offensive
24781              youu got wild bitches tellin you lies             Offensive
24782  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...  No hate or offensive

[24783 rows x 2 columns]

## Step 2: Improt NLP

In [548]:
import re
import string
import nltk

In [549]:
nltk.download('stopwords')
from nltk.corpus import stopwords
_stopwords = set (stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [550]:
stopwords

_stopwords.add(rt)

In [551]:
_stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [552]:
stemmer = nltk.SnowballStemmer("english")

In [553]:
def clean_text(text):
    text = str(text).lower()
    text = re.sub('<.*?>+', '',text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('rt', '',text)
    text = re.sub('\d', '',text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub('  ',' ',text)
    return text

In [554]:
df['tweet'] = df['tweet'].apply(clean_text)

C:\Users\Dell\AppData\Local\Temp\ipykernel_17332\2298058354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tweet'] = df['tweet'].apply(clean_text)

In [555]:
df

                                                   tweet                 label
0       mayasolovely as a woman you shouldnt complain...  No hate or offensive
1       mleew boy dats coldtyga dwn bad for cuffin da...             Offensive
2       urkindofbrand dawg sbabylife you ever fuck a ...             Offensive
3            cganderson vivabased she look like a tranny             Offensive
4       shenikarobes the shit you hear about me might...             Offensive
...                                                  ...                   ...
24778  yous a muthafin lie lifeasking pearls coreyema...             Offensive
24779  youve gone and broke the wrong hea baby and dr...  No hate or offensive
24780  young buck wanna eat dat nigguh like i aint fu...             Offensive
24781              youu got wild bitches tellin you lies             Offensive
24782  ruffled ntac eileen dahlia beautiful color com...  No hate or offensive

[24783 rows x 2 columns]

## Step 3: Data transformation

In [556]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [557]:
X = np.array(data['tweet'])
y = np.array(data['class'])

In [558]:
cv = CountVectorizer()
X = cv.fit_transform(X)

In [559]:
X

<24783x35852 sparse matrix of type '<class 'numpy.int64'>'
	with 324058 stored elements in Compressed Sparse Row format>

In [560]:
X_train,x_test,y_train,y_test = train_test_split(X, y, test_size = 25, random_state = 0)

## Step 4: Build Ml model

In [569]:
from sklearn.neighbors import KNeighborsClassifier

In [570]:
knc = KNeighborsClassifier()
knc.fit(X_train, y_train)

KNeighborsClassifier()

In [571]:
y_pred = dt.predict(x_test)

In [572]:
y_pred

array([2, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2,
       1, 1, 1], dtype=int64)

In [573]:
y_test

array([2, 1, 1, 0, 2, 1, 1, 1, 2, 2, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1,
       1, 1, 1], dtype=int64)

## STep 5: Model Classification report

In [574]:
from sklearn.metrics import classification_report

In [575]:
d = classification_report(y_test,y_pred)

C:\Users\Dell\Documents\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Dell\Documents\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Dell\Documents\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [576]:
print(d)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.94      0.94      0.94        17
           2       0.75      1.00      0.86         6

    accuracy                           0.88        25
   macro avg       0.56      0.65      0.60        25
weighted avg       0.82      0.88      0.85        25